# Movie Recommendation System

### import required packages

In [2]:
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import csv

### load the data from datasource

In [3]:
# Read the CSV files
df1 = pd.read_csv('movie.csv')
df2 = pd.read_csv('movie1.csv')

# Merge the dataframes based on the common column
merged_df = pd.concat([df1, df2], ignore_index=True)

# Write the merged dataframe to a new CSV file
merged_df.to_csv('merged_file.csv', index=False)

In [4]:
df = pd.read_csv('merged_file.csv')

In [5]:
df

,Name_of_movie,Name_of_director,List_of_genre,Discription_of_movie,Run_time_in_min,Language_of_move,Country_of_origin,Budget_of_movie,Global_collection,Release_year,Rating_out_of_ten,World_Wild_Views,Reviews_to_movie,Poster_url
0,The Shawshank Redemption,Frank Darabont,['Drama'],"Over the course of several years, two convicts...",142.0,English,"Mansfield Reformatory - 100 Reformatory Road, ...",25000000,2.888472e+07,1994,9.3,2.8M,10700.0,NaN
1,The Godfather,Francis Ford Coppola,"['Crime', 'Drama']","Don Vito Corleone, head of a mafia family, dec...",175.0,EnglishItalianLatin,"Forza d'Agrò, Messina, Sicily, Italy(as Corleo...",6000000,2.503418e+08,1972,9.2,2M,5400.0,NaN
2,The Dark Knight,Christopher Nolan,"['Action', 'Crime', 'Drama']",When the menace known as the Joker wreaks havo...,152.0,EnglishMandarin,"Times Square, Causeway Bay, Hong Kong",185000000,1.007258e+09,2008,9.0,2.8M,8500.0,NaN
3,The Godfather Part II,Francis Ford Coppola,"['Crime', 'Drama']",The early life and career of Vito Corleone in ...,202.0,EnglishItalianSpanishLatinSicilian,"Kaiser Estate, 4000 W Lake Blvd, Homewood, Lak...",13000000,4.796192e+07,1974,9.0,1.3M,1300.0,NaN
4,12 Angry Men,Sidney Lumet,"['Crime', 'Drama']",The jury in a New York City murder trial is fr...,96.0,English,"New York County Courthouse - 60 Centre Street,...",350000,9.550000e+02,1957,9.0,838K,2100.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1109,Rango,Gore Verbinski,"['Animation', 'Action', 'Adventure']",Rango is an ordinary chameleon who accidentall...,47.0,English,Paramount PicturesNickelodeon MoviesBlind Wink...,135,2.457246e+07,211,7.2,286K,491.0,https://www.imdb.com/title/tt1192628/mediaview...
1110,Beowulf,Robert Zemeckis,"['Animation', 'Action', 'Adventure']",The warrior Beowulf must fight and defeat the ...,55.0,EnglishOld English,"Culver Studios - 9336 W. Washington Blvd., Cul...",15,1.963937e+08,27,6.3,172K,575.0,https://www.imdb.com/title/tt442933/mediaviewe...
1111,Snow White and the Huntsman,Rupert Sanders,"['Action', 'Adventure', 'Drama']","In a twist to the fairy tale, the Huntsman ord...",127.0,English,"Quiraing, Skye, Highland, Scotland, UK",17,3.965928e+08,212,6.1,299K,837.0,https://www.imdb.com/title/tt1735898/mediaview...
1112,End of Watch,David Ayer,"['Action', 'Crime', 'Drama']","Shot documentary-style, this film follows the ...",49.0,EnglishSpanish,"Los Angeles, California, USA",7,5.578146e+06,212,7.6,263K,477.0,https://www.imdb.com/title/tt1855199/mediaview...
1113,Mighty Morphin Power Rangers,NaN,"['Action', 'Adventure', 'Family']",A team of teenagers with attitude are recruite...,3.0,English,Brandeis-Bardin Institute - 111 Pepper Tree La...,NaN,NaN,TV Series,6.5,24K,157.0,https://www.imdb.com/title/tt1664/mediaviewer/...

### EXPLORATORY DATA ANALYSIS

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1114 entries, 0 to 1113
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name_of_movie         1110 non-null   object
 1   Name_of_director      826 non-null    object
 2   List_of_genre         923 non-null    object
 3   Discription_of_movie  1071 non-null   object
 4   Run_time_in_min       1020 non-null   float64
 5   Language_of_move      1097 non-null   object
 6   Country_of_origin     1095 non-null   object
 7   Budget_of_movie       784 non-null    object
 8   Global_collection     801 non-null    float64
 9   Release_year          1110 non-null   object
 10  Rating_out_of_ten     1071 non-null   float64
 11  World_Wild_Views      1071 non-null   object
 12  Reviews_to_movie      1069 non-null   float64
 13  Poster_url            860 non-null    object
dtypes: float64(4), object(10)
memory usage: 122.0+ KB

In [7]:
df.describe

<bound method NDFrame.describe of                      Name_of_movie      Name_of_director  \
0         The Shawshank Redemption        Frank Darabont
1                    The Godfather  Francis Ford Coppola
2                  The Dark Knight     Christopher Nolan
3            The Godfather Part II  Francis Ford Coppola
4                     12 Angry Men          Sidney Lumet
...                            ...                   ...
1109                         Rango        Gore Verbinski
1110                       Beowulf       Robert Zemeckis
1111   Snow White and the Huntsman        Rupert Sanders
1112                  End of Watch            David Ayer
1113  Mighty Morphin Power Rangers                   NaN

                             List_of_genre  \
0                                ['Drama']
1                       ['Crime', 'Drama']
2             ['Action', 'Crime', 'Drama']
3                       ['Crime', 'Drama']
4                       ['Crime', 'Drama']
...                                    ...
1109  ['Animation', 'Action', 'Adventure']
1110  ['Animation', 'Action', 'Adventure']
1111      ['Action', 'Adventure', 'Drama']
1112          ['Action', 'Crime', 'Drama']
1113     ['Action', 'Adventure', 'Family']

                                   Discription_of_movie  Run_time_in_min  \
0     Over the course of several years, two convicts...            142.0
1     Don Vito Corleone, head of a mafia family, dec...            175.0
2     When the menace known as the Joker wreaks havo...            152.0
3     The early life and career of Vito Corleone in ...            202.0
4     The jury in a New York City murder trial is fr...             96.0
...                                                 ...              ...
1109  Rango is an ordinary chameleon who accidentall...             47.0
1110  The warrior Beowulf must fight and defeat the ...             55.0
1111  In a twist to the fairy tale, the Huntsman ord...            127.0
1112  Shot documentary-style, this film follows the ...             49.0
1113  A team of teenagers with attitude are recruite...              3.0

                        Language_of_move  \
0                                English
1                    EnglishItalianLatin
2                        EnglishMandarin
3     EnglishItalianSpanishLatinSicilian
4                                English
...                                  ...
1109                             English
1110                  EnglishOld English
1111                             English
1112                      EnglishSpanish
1113                             English

                                      Country_of_origin Budget_of_movie  \
0     Mansfield Reformatory - 100 Reformatory Road, ...        25000000
1     Forza d'Agrò, Messina, Sicily, Italy(as Corleo...         6000000
2                 Times Square, Causeway Bay, Hong Kong       185000000
3     Kaiser Estate, 4000 W Lake Blvd, Homewood, Lak...        13000000
4     New York County Courthouse - 60 Centre Street,...          350000
...                                                 ...             ...
1109  Paramount PicturesNickelodeon MoviesBlind Wink...             135
1110  Culver Studios - 9336 W. Washington Blvd., Cul...              15
1111             Quiraing, Skye, Highland, Scotland, UK              17
1112                       Los Angeles, California, USA               7
1113  Brandeis-Bardin Institute - 111 Pepper Tree La...             NaN

      Global_collection Release_year  Rating_out_of_ten World_Wild_Views  \
0          2.888472e+07         1994                9.3             2.8M
1          2.503418e+08         1972                9.2               2M
2          1.007258e+09         2008                9.0             2.8M
3          4.796192e+07         1974                9.0             1.3M
4          9.550000e+02         1957                9.0             838K
...                 ...          ...                ...              ...
1109       2.457246e+07          211                7.2             286K
1110       1.963937e+08           27                6.3             172K
1111       3.965928e+08          212                6.1             299K
1112       5.578146e+06          212                7.6             263K
1113                NaN    TV Series                6.5              24K

      Reviews_to_movie                                         Poster_url
0              10700.0                                                NaN
1               5400.0                                                NaN
2               8500.0                                                NaN
3               1300.0                                                NaN
4               2100.0                                                NaN
...                ...                                                ...
1109             491.0  https://www.imdb.com/title/tt1192628/mediaview...
1110             575.0  https://www.imdb.com/title/tt442933/mediaviewe...
1111             837.0  https://www.imdb.com/title/tt1735898/mediaview...
1112             477.0  https://www.imdb.com/title/tt1855199/mediaview...
1113             157.0  https://www.imdb.com/title/tt1664/mediaviewer/...

[1114 rows x 14 columns]>

In [8]:
type(df['List_of_genre'].iloc[0])

str

In [9]:
df.isnull().sum()

Name_of_movie             4
Name_of_director        288
List_of_genre           191
Discription_of_movie     43
Run_time_in_min          94
Language_of_move         17
Country_of_origin        19
Budget_of_movie         330
Global_collection       313
Release_year              4
Rating_out_of_ten        43
World_Wild_Views         43
Reviews_to_movie         45
Poster_url              254
dtype: int64

In [10]:
df.columns

Index(['Name_of_movie', 'Name_of_director', 'List_of_genre',
       'Discription_of_movie', 'Run_time_in_min', 'Language_of_move',
       'Country_of_origin', 'Budget_of_movie', 'Global_collection',
       'Release_year', 'Rating_out_of_ten', 'World_Wild_Views',
       'Reviews_to_movie', 'Poster_url'],
      dtype='object')

In [11]:
df.shape

(1114, 14)

## Data Pre-Processing

In [12]:
# Function to convert strings to numerical values
def convert_to_numeric(s):
    if isinstance(s, str):
        if s[-1] == 'M':
            return float(s[:-1]) * 1e6
        elif s[-1] == 'K':
            return float(s[:-1]) * 1e3
        else:
            return float(s)
    else:
        return s

# Apply the function to the DataFrame
df['World_Wild_Views'] = df['World_Wild_Views'].apply(convert_to_numeric)

In [13]:
# # Remove all square brackets from elements in the 'genre' column
df['List_of_genre'] = df['List_of_genre'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

In [14]:
df.tail()

,Name_of_movie,Name_of_director,List_of_genre,Discription_of_movie,Run_time_in_min,Language_of_move,Country_of_origin,Budget_of_movie,Global_collection,Release_year,Rating_out_of_ten,World_Wild_Views,Reviews_to_movie,Poster_url
1109,Rango,Gore Verbinski,"['Animation', 'Action', 'Adventure']",Rango is an ordinary chameleon who accidentall...,47.0,English,Paramount PicturesNickelodeon MoviesBlind Wink...,135,24572463.0,211,7.2,286000.0,491.0,https://www.imdb.com/title/tt1192628/mediaview...
1110,Beowulf,Robert Zemeckis,"['Animation', 'Action', 'Adventure']",The warrior Beowulf must fight and defeat the ...,55.0,EnglishOld English,"Culver Studios - 9336 W. Washington Blvd., Cul...",15,196393745.0,27,6.3,172000.0,575.0,https://www.imdb.com/title/tt442933/mediaviewe...
1111,Snow White and the Huntsman,Rupert Sanders,"['Action', 'Adventure', 'Drama']","In a twist to the fairy tale, the Huntsman ord...",127.0,English,"Quiraing, Skye, Highland, Scotland, UK",17,396592829.0,212,6.1,299000.0,837.0,https://www.imdb.com/title/tt1735898/mediaview...
1112,End of Watch,David Ayer,"['Action', 'Crime', 'Drama']","Shot documentary-style, this film follows the ...",49.0,EnglishSpanish,"Los Angeles, California, USA",7,5578146.0,212,7.6,263000.0,477.0,https://www.imdb.com/title/tt1855199/mediaview...
1113,Mighty Morphin Power Rangers,NaN,"['Action', 'Adventure', 'Family']",A team of teenagers with attitude are recruite...,3.0,English,Brandeis-Bardin Institute - 111 Pepper Tree La...,NaN,NaN,TV Series,6.5,24000.0,157.0,https://www.imdb.com/title/tt1664/mediaviewer/...

In [15]:
# Fill missing numeric data with the mean
numeric_columns = ['Run_time_in_min', 'Global_collection', 'Rating_out_of_ten', 'World_Wild_Views', 'Reviews_to_movie']
for col in numeric_columns:
    df[col] = df[col].fillna(df[col].mean())

# Fill missing textual data with the mode
text_columns = ['Name_of_movie','Name_of_director', 'List_of_genre', 'Discription_of_movie', 'Language_of_move', 'Country_of_origin', 'Budget_of_movie']
for col in text_columns:
    df[col] = df[col].fillna(df[col].mode()[0])

In [16]:
# Dummy URL
missing_url = 'https://www.imdb.com/title/tt1192628/mediavie'

# Filling NaN values with the dummy URL
df['Poster_url'] = df['Poster_url'].fillna(missing_url)

In [17]:
import re
# Removing textual data from the 'Release_Year' column
# Custom function to remove textual data and replace it with NaN
def clean_release_year(year_string):
    if isinstance(year_string, str):
        pattern = re.compile(r'\d{4}')
        match = pattern.search(year_string)
        if match:
            return match.group()
    return np.nan

# Applying the custom function to the 'Release_Year' column
df['Release_year'] = df['Release_year'].apply(clean_release_year)

In [18]:
df['Release_year'] = df['Release_year'].fillna(df['Release_year'].mode()[0])

In [19]:
df.isna().sum()

Name_of_movie           0
Name_of_director        0
List_of_genre           0
Discription_of_movie    0
Run_time_in_min         0
Language_of_move        0
Country_of_origin       0
Budget_of_movie         0
Global_collection       0
Release_year            0
Rating_out_of_ten       0
World_Wild_Views        0
Reviews_to_movie        0
Poster_url              0
dtype: int64

In [20]:
# Removing square brackets from the 'List_of_genre' column
df['List_of_genre'] = df['List_of_genre'].apply(lambda x: x.replace("[", "").replace("]", "").replace(", ", "").replace("'", ""))

In [21]:
df

,Name_of_movie,Name_of_director,List_of_genre,Discription_of_movie,Run_time_in_min,Language_of_move,Country_of_origin,Budget_of_movie,Global_collection,Release_year,Rating_out_of_ten,World_Wild_Views,Reviews_to_movie,Poster_url
0,The Shawshank Redemption,Frank Darabont,Drama,"Over the course of several years, two convicts...",142.0,English,"Mansfield Reformatory - 100 Reformatory Road, ...",25000000,2.888472e+07,1994,9.3,2800000.0,10700.0,https://www.imdb.com/title/tt1192628/mediavie
1,The Godfather,Francis Ford Coppola,CrimeDrama,"Don Vito Corleone, head of a mafia family, dec...",175.0,EnglishItalianLatin,"Forza d'Agrò, Messina, Sicily, Italy(as Corleo...",6000000,2.503418e+08,1972,9.2,2000000.0,5400.0,https://www.imdb.com/title/tt1192628/mediavie
2,The Dark Knight,Christopher Nolan,ActionCrimeDrama,When the menace known as the Joker wreaks havo...,152.0,EnglishMandarin,"Times Square, Causeway Bay, Hong Kong",185000000,1.007258e+09,2008,9.0,2800000.0,8500.0,https://www.imdb.com/title/tt1192628/mediavie
3,The Godfather Part II,Francis Ford Coppola,CrimeDrama,The early life and career of Vito Corleone in ...,202.0,EnglishItalianSpanishLatinSicilian,"Kaiser Estate, 4000 W Lake Blvd, Homewood, Lak...",13000000,4.796192e+07,1974,9.0,1300000.0,1300.0,https://www.imdb.com/title/tt1192628/mediavie
4,12 Angry Men,Sidney Lumet,CrimeDrama,The jury in a New York City murder trial is fr...,96.0,English,"New York County Courthouse - 60 Centre Street,...",350000,9.550000e+02,1957,9.0,838000.0,2100.0,https://www.imdb.com/title/tt1192628/mediavie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1109,Rango,Gore Verbinski,AnimationActionAdventure,Rango is an ordinary chameleon who accidentall...,47.0,English,Paramount PicturesNickelodeon MoviesBlind Wink...,135,2.457246e+07,1998,7.2,286000.0,491.0,https://www.imdb.com/title/tt1192628/mediaview...
1110,Beowulf,Robert Zemeckis,AnimationActionAdventure,The warrior Beowulf must fight and defeat the ...,55.0,EnglishOld English,"Culver Studios - 9336 W. Washington Blvd., Cul...",15,1.963937e+08,1998,6.3,172000.0,575.0,https://www.imdb.com/title/tt442933/mediaviewe...
1111,Snow White and the Huntsman,Rupert Sanders,ActionAdventureDrama,"In a twist to the fairy tale, the Huntsman ord...",127.0,English,"Quiraing, Skye, Highland, Scotland, UK",17,3.965928e+08,1998,6.1,299000.0,837.0,https://www.imdb.com/title/tt1735898/mediaview...
1112,End of Watch,David Ayer,ActionCrimeDrama,"Shot documentary-style, this film follows the ...",49.0,EnglishSpanish,"Los Angeles, California, USA",7,5.578146e+06,1998,7.6,263000.0,477.0,https://www.imdb.com/title/tt1855199/mediaview...
1113,Mighty Morphin Power Rangers,Steven Spielberg,ActionAdventureFamily,A team of teenagers with attitude are recruite...,3.0,English,Brandeis-Bardin Institute - 111 Pepper Tree La...,2,1.437864e+08,1998,6.5,24000.0,157.0,https://www.imdb.com/title/tt1664/mediaviewer/...

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1114 entries, 0 to 1113
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name_of_movie         1114 non-null   object
 1   Name_of_director      1114 non-null   object
 2   List_of_genre         1114 non-null   object
 3   Discription_of_movie  1114 non-null   object
 4   Run_time_in_min       1114 non-null   float64
 5   Language_of_move      1114 non-null   object
 6   Country_of_origin     1114 non-null   object
 7   Budget_of_movie       1114 non-null   object
 8   Global_collection     1114 non-null   float64
 9   Release_year          1114 non-null   object
 10  Rating_out_of_ten     1114 non-null   float64
 11  World_Wild_Views      1114 non-null   float64
 12  Reviews_to_movie      1114 non-null   float64
 13  Poster_url            1114 non-null   object
dtypes: float64(5), object(9)
memory usage: 122.0+ KB

df.to_csv('clean_moviedata.csv',index=False)

In [23]:
import uuid
# Generate unique movie IDs using UUID for each row
df['movie_id'] = [uuid.uuid4() for _ in range(len(df))]

# Display

In [24]:
df["tags"] = df["Name_of_movie"] + df["Name_of_director"] + df["List_of_genre"] + df["Discription_of_movie"]

In [27]:
new_df = df[["tags" , "Name_of_movie" , "movie_id"]]

In [28]:
new_df

,tags,Name_of_movie,movie_id
0,The Shawshank RedemptionFrank DarabontDramaOve...,The Shawshank Redemption,ee3d960a-0ce6-4dd1-a613-f8706dd8eee3
1,The GodfatherFrancis Ford CoppolaCrimeDramaDon...,The Godfather,bc923278-f4da-4da9-a2cb-36bdc3ab7aad
2,The Dark KnightChristopher NolanActionCrimeDra...,The Dark Knight,0e5b6765-de7c-40d5-9e61-712a9241e33e
3,The Godfather Part IIFrancis Ford CoppolaCrime...,The Godfather Part II,804b7e7f-36ef-4a55-9eba-8f8a3dac79f4
4,12 Angry MenSidney LumetCrimeDramaThe jury in ...,12 Angry Men,c8240a3c-99b7-4281-9f24-7c59053fffad
...,...,...,...
1109,RangoGore VerbinskiAnimationActionAdventureRan...,Rango,70fa6706-d706-4fea-b04c-3352763da8db
1110,BeowulfRobert ZemeckisAnimationActionAdventure...,Beowulf,9e81307c-2d94-4a37-a757-f3f787156b82
1111,Snow White and the HuntsmanRupert SandersActio...,Snow White and the Huntsman,f9f12a83-2f7a-49fd-a705-ef49f63d5b75
1112,End of WatchDavid AyerActionCrimeDramaShot doc...,End of Watch,7adc5e6f-cf46-4c16-8b8e-acf594e98a7b
1113,Mighty Morphin Power RangersSteven SpielbergAc...,Mighty Morphin Power Rangers,2af44908-4b6a-4165-b672-619c02f0829c